@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  background: #fefefe;
  max-width: 1000px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* HEADER */
header {
  padding: 20px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}
.titling {
  display: flex;
  flex-direction: column;
}
a {
  margin-left: auto;
  color: #fefefe;
  background: #00b7ff;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  transition: all 0.25s ease;
}
a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

/* BOARD */
.card {
  background: #ededed;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px 20px;
  max-width: 700px;
  min-width: 500px;
  margin: 15px auto;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.75);
}
.post-info {
  display: flex;
  color: #1b8da8;
}
.author {
  font-weight: bolder;
}
.added {
  margin-left: 10px;
}
.text {
  margin-top: 20px;
  font-size: 15px;
}

/* FORM */
form {
  background: #ededed;
  display: flex;
  flex-direction: column;
  max-width: 800px;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px 20px;
  margin: 15px auto;
  box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.75);
}
input,
textarea {
  padding: 5px;
  font-size: 15px;
  margin-top: 10px;
  outline: transparent;
  border: 1px solid #ededed;
}
input:focus,
textarea:focus {
  border: 1px solid #1b8da8;
}
textarea {
  resize: vertical;
}
input[type="submit"] {
  transition: all 0.25s ease;
}
input[type="submit"]:hover {
  background-color: #1b8da8;
  color: white;
  cursor: pointer;
}
